data/schema/basic_node.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Representation of basic nodes. Basic nodes are elements with edges and nodes as children. 
Nodes are elements with children. 
Edges are elements without children. 
Note: Edges are disabled for now -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="./primitives.xsd"/>

  <xs:element name="basic_node">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="node" type="node_rec"></xs:element>
        <!-- <xs:element name="edge" type="edge"></xs:element> -->
      </xs:sequence>
      <xs:attribute name="id" type="xs:unsignedByte" use="required" />
      <xs:attribute name="title" type="xs:string" use="required" />
      <xs:attribute name="adBlock" type="xs:string" use="required" />
      <xs:attribute name="description" type="xs:string" use="required" />
      <xs:attribute name="references" type="xs:string" use="required" />
      <xs:attribute name="designParameterCause" type="xs:string" />
      <xs:attribute name="placementParentId" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

</xs:schema> 