data/schema/primitives.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
<!-- complex type representing an edge (node without children) -->
<xs:complexType name="edge">
    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="description" type="xs:string" use="required"/>
    <xs:attribute name="references" type="xs:string" use="required"/>
</xs:complexType>

<!-- complex type representing a node (node with children) -->
<xs:complexType name="node_rec">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="node" type="node_rec"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
    <xs:attribute name="title" type="xs:string" use="required" />
    <xs:attribute name="adBlock" type="xs:string" use="required" />
    <xs:attribute name="description" type="xs:string" use="required" />
    <xs:attribute name="references" type="xs:string" use="required" />
    <xs:attribute name="designParameterCause" type="xs:string" />
    <xs:attribute name="placementParentId" type="xs:string" use="required" />
</xs:complexType>

</xs:schema> 

